<!-- Add product view model-->
@model ProductVM

<form method="post" enctype="multipart/form-data">
    <!--When we post we always have the Id populated by making it hidden-->
    <input asp-for="Product.Id" hidden />
    <!--Also need to have the product image url so it gets posted when the form is submitted-->
    <input asp-for="Product.ImageUrl" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">@(Model.Product.Id!=0?"Update":"Create") Product</h2>
            </hr>
        </div>
        <div class="row">
            <div class="col-10">
                <div class="mb-3 row p-1">
                    <!-- asp-for defines what the input field will be responsible for.
                        "Name" in this instance doesn't give an error b/c the Product
                        model is imported, and it has the property "Name" which is being
                        referenced here-->
                    <label asp-for="Product.Name" class="p-0"></label>
                    <input asp-for="Product.Name" class="form-control" />
                    <span asp-validation-for="Product.Name" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.Description" class="p-0"></label>
                    <textarea asp-for="Product.Description" class="form-control"></textarea>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.ListPrice" class="p-0"></label>
                    <input type="number" min="0" step="0.01" asp-for="Product.ListPrice" class="form-control" />
                    <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.ProductCode" class="p-0"></label>
                    <input asp-for="Product.ProductCode" class="form-control" />
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.ProductStock" class="p-0"></label>
                    <input type="number" min="0" step="1" asp-for="Product.ProductStock" class="form-control" />
                    <span asp-validation-for="Product.ProductStock" class="text-danger"></span>
                </div>
                <!--Use model categorylist instead of viewbag/viewdata-->
                <div class="mb-3 row p-1">
                    <label class="p-0">Category</label>
                    <select asp-for="@Model.Product.CategoryId" class="form-select" asp-items="@Model.CategoryList">
                        <option disabled selected>--Select Category--</option>
                    </select>
                    <label asp-for="Product.CategoryId" class="ms-2" />
                    <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.ImageUrl" class="p-0"></label>
                    <input type="file" name="file" class="form-control" />
                </div>
                <div class="row">
                    <div class="col-6 col-md-3">
                        <!--Check if Id is populated, if it is then update, if not then create-->
                        @if (Model.Product.Id != 0)
                        {
                            <button type="submit" class="btn btn-primary form-control">Update</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-primary form-control">Create</button>
                        }
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary border form-control">
                            Back to list
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <img src="@Model.Product.ImageUrl" width="100%" 
                style="border-radius:5px; border:1px solid #bbb9b9"/>
            </div>
        </div>  
    </div>
</form>

<!-- Create scripts section
Get js for client side validation -->
@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}